#front-banner {
	margin-top: 70px;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

#banner-container {
	height: inherit;
	width: 1200px;
}

#front-banner-background-wrapper {
	position: absolute;
	bottom: 0px;
  width: 100%;
  height: 100%;
}

#front-banner-background {
	position: absolute;
	width: 700px;
	height: 700px;
	bottom: -350px;
	border-radius: 350px;
	overflow: hidden;
	background-color: #E8E8E8;
}

.banner-caption {
	left: 750px;
	bottom: 0;
}

.banner-image-wrapper {
	position: absolute;
	bottom: 0px;
  width: 600px;
  height: 100%;
}

#banner-image {
	position: absolute;
	bottom: -50px;
  width: 100%;
	left: 0;
}

.banner-spinner {
  position: absolute;
  bottom: -350px;
  width: 100%;
	left: 0;
}

#banner-image-background {
	-webkit-animation:spin 60s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#banner-image-front {
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.banner-marker-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  z-index: 1;
	left: 375px;
}

#banner-marker-caption {
  position: absolute;
  bottom: -125px;
	left: 350px;
	z-index: 1;
}

#banner-marker {
	position: absolute;
	width: 60%;
  height: 60%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#banner-marker-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: #ffffff;
}

.banner-text {
  font-size: 70px;
  line-height: 60px;
}

.banner-subtext {
	bottom: -125px;
	z-index: 1;
}
