.content {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 20px; padding-right: 20px;
}

.reverse {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.experience-logo {
	width: 30%;
	margin: auto;
	display: block;
	margin-bottom: 30px;
	margin-top: 50px;
}

.link-image {
	width: 30px;
	height: 30px;
	opacity: 0.7;
	margin-right: 15px;
}

.experience-title {
	margin-bottom: 20px;
}

.design-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

#profile {
	margin: auto;
	display: block;
	width: 150px;
}

.design-image {
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project-panel-text {
	flex: 1;
}

.projects-image-wrapper {
	flex: 2;
}

.projects-image {
	object-fit: contain;
	box-shadow: -20px -10px 100px 20px rgba(0, 0, 0, 0.05);
}
