#navbar {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	border-bottom:1px solid rgba(88, 98, 233, 0.1);
	top: 0px;
	z-index: 2;
}

.navbar-margin {
	margin-top: 70px;
}

.navbar-container {
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.navbar-option {
  padding: 8px 16px;
	border-radius: 20px;
}

.selected-navbar-option {
	border: 1px solid rgb(89, 102, 230);
	border-radius: 20px;
}

#footer {
	padding: 50px 0px;
	background-color: rgb(50, 50, 50);
}
