#navbar {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	border-bottom:1px solid rgba(255,255,255,0.3);
	top: 0px;
	z-index: 2;
  height: 70px;
}

.navbar-option-wrapper {
  padding: 0px 20px;
}

.navbar-option {
  padding: 10px;
}

.selected-navbar-option {
	border: 1px solid rgba(99, 194, 243, 0.5);
}
