@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

h1 {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Shrikhand', cursive;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

h4 {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h5 {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}

h6 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

p {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
  color: inherit;
}

.white {
  color: #ffffff;
}

.white-background {
  background-color: #ffffff;
}

.snow {
  color: #f4f4f4;
}

.snow-background {
  background-color: #f4f4f4;
}

.light-blue {
  color: #929df0;
}

.blue {
  color: #5862e9;
}

.blue-background {
  background-color: #5862e9;
}

.dark-gray {
  color: #444444;
}

.dark-gray-background {
  background-color: #444444;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.overflow-hidden {
  overflow: hidden;
}
